.example-spacer {
  flex: 1 1 auto;
}
span{
padding: 10px;
}
img{
height: 50px;
width: 50px;
}

mat-toolbar{
background: rgb(62, 62, 252);
color: white;
text-align: center;
height: 50px;
padding: 30px; ;
top: 30px;
}

a{
text-decoration: none;
color: white;
}